.formuser {
    display: flex;
    .form{
        width: 50vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
    }
    .img{
        width: 25vw;
        height: calc(100vh - 105px);
        background-color: #EC0411;
    }

    @media (max-width: 1000px) {
        .img {
          display: none;
        }
        .form{
            width: 100vw;
        }
    }

    label{
        margin-bottom: 10px;
    }
    input{
        width: 140px;
        margin-bottom: 10px;
        border-radius: 15px;
        border-style:groove;
        border-color: #EC0411;
        margin-bottom: 25px;
    }
    input:focus{
        border-style:none;
    }
    button{
        width: 150px;
        border-style : solid;
        border-radius: 15px;
        color: white;
        background-color: #EC0411;
        border-color: transparent;
        padding: 7px;
    }
  
    button:hover{
        background-color: transparent;
        color: #EC0411;
        border-color: #EC0411;
    }
    
}